<p>Bonjour,</p>
<p>Votre demande de suppression a été acceptée par un administrateur.</p>

Celle-ci avait pour motif : 


<p>
    <strong>Motif : </strong>
</p>
<p> {{motif}}</p>

<p style="color:red;font-style: italic;"><strong>Il est impossible de répondre à ce mail.</strong> </p>

