<p>Bonjour,</p>
<p>L'utilisateur <strong>{{ name }}</strong> a demandé la suppression d'objets.</p>
<p>
    <strong>Motif : </strong>
</p>
<p> {{motif}}</p>

<p style="color:red;font-style: italic;"><strong>Il est impossible de répondre à ce mail.</strong> </p>

